:root {
  --nav-items-violet: #d1385c;
  --nav-items-grey: #333333;
  --violet: #4b144b;
  --dark-grey: #232223;
  --pink:#d1385c;
  --light-grey:rgb(243, 239, 239);
  --service-section-bg-color:#f9f8ff;
}
