/* company short desctiption section */
.company-descrption {
  padding-block: 6rem 4rem;
}
.company-descrption-content .heading-primary {
  font-size: var(--fs-650);
  color: var(--clr-primary);
}

.company-descrption-content .sub-heading--one {
  font-size: var(--fs-400);
  color: var(--clr-neutral-700);
}

.company-descrption-content .sub-heading--two {
  font-size: var(--fs-1.5rem);
  color: var(--clr-secondary);
  margin-bottom: 1rem;
}

.company-descrption-content .content-para--one,
.content-para--two {
  color: var(--clr-secondary);
  color: var(--clr-secondary);
}

.company-descrption-content .underline {
  margin: 40px;
}

.company-descrption-content.flex-col {
  --gap: 0.65rem;
}

.company-descrption .u-line {
  padding-block: 2rem 0.5rem;
}

@media (max-width: 420px) {
  .company-descrption .u-line {
    display: none;
  }
}
