/* header styles */

header {
  position: fixed;
  width: 100%;
  background-color: var(--clr-accent-100);
  box-shadow: 1px 0 10px rgb(104, 98, 98);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--clr-neutral-400);
  font-weight: var(--fw-bold);
  transition: 0.3s ease-in-out;
}

.nav-links a:hover {
  color: var(--clr-primary);
}

.nav-right-section > * {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.nav-right-section > *:hover {
  color: var(--clr-primary);
}

.company-logo img {
  height: 3rem;
  cursor: pointer;
}

.navbar {
  padding-block: 0.7rem;
}

.nav-right-section .phone-icon,
.phone-number {
  display: none;
}

.nav-links {
  display: none;
}

.menu-icon .material-icons {
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  .company-logo img {
    height: 4rem;
  }
}

@media (min-width: 992px) {
  .nav-right-section .phone-icon,
  .phone-number {
    display: block;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
  }

  header .menu-icon {
    margin-left: 48px;
  }

  .nav-right-section.flex {
    --gap: 0.8rem;
    color: var(--clr-secondary);
  }
}

@media (min-width: 1200px) {
  .nav-links {
    gap: 2.2rem;
  }
}
