/* services section */
.services {
  background-color: var(--clr-accent-300);
  padding-block: 2.2rem;
}

.services-section .main-heading {
  font-size: var(--fs-500);
  line-height: 4.5rem;
  color: var(--clr-primary);
}

.services-section .sub-heading {
  font-size: var(--fs-300);
  color: var(--clr-secondary);
}

.service-cards .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 2rem;
}

.service-cards .title {
  color: var(--clr-secondary);
  font-size: var(--fs-600);
}

.service-cards .para {
  color: var(--clr-secondary);
  padding-block: 0.2rem 0.5rem;
  max-width: 560px;
}

.service-cards .read-more {
  color: var(--clr-primary);
  font-size: var(--fs-300);
}

.read-more.flex {
  gap: 0.2rem;
}

.service-cards button {
  border: none;
  background-color: transparent;
}

.desc-container .read-more:hover {
  font-weight: bold;
}

@media (min-width: 380px) {
  .service-cards .image-container {
    padding-inline: 2rem;
  }
}
@media (min-width: 380px) and (max-width: 768px) {
  .service-cards .image-container img {
    max-width: 380px;
  }
}

@media (min-width: 768px) {
  .service-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .service-cards .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .services-section .main-heading {
    font-size: var(--fs-650);
    line-height: 4.5rem;
    color: var(--clr-primary);
  }

  .services-section .sub-heading {
    font-size: var(--fs-400);
    color: var(--clr-secondary);
  }
}
