/* what we do section */
.what-we-do-section {
  margin-block: 5rem 4rem;
}

.what-we-do .heading-primary {
  text-align: center;
  font-size: var(--fs-650);
  color: var(--clr-primary);
  margin-bottom: 1rem;
}

.what-we-do .content-boxes.flex {
  flex-wrap: wrap;
}

.content-boxes .title {
  color: var(--clr-primary);
}

.what-we-do .content-boxes .box {
  border-radius: 5px;
  background-color: var(--clr-secondary);
  width: 160px;
  height: 200px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 1rem;
}

.what-we-do .image {
  width: 120px;
}
