/* what we do section */
.what-we-do-section {
    margin: 40px 60px;
    padding: 10px 30px;
  }
  
  .what-we-do .heading {
    text-align: center;
    font-size: 32px;
    color: var(--pink);
    font-weight: bold;
    padding: 30px 0;
  }
  
  .what-we-do-section .content-boxes {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  .what-we-do-section .content-boxes .box-1,
  .box-2,
  .box-3,
  .box-4,
  .box-5 {
    width: 210px;
    height: 140px;
    border-radius: 5px;
    background-color: var(--violet);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    /* margin-right: 10px; */
  }
  /* .what-we-do-section .content-boxes .box-5{ */
  /* margin-right: 0;
  } */
  
  .what-we-do-section .content-boxes img {
    height: 70px;
    width: 70px;
    object-fit: cover;
  }
  
  .what-we-do-section .content-boxes p {
    color: #ca375c;
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  /* what we do section end */