/* why we best section */
.why-we-are-best {
  padding: 1rem;
  background-color: var(--clr-accent-300);
}

.top-heading-wrapper .top-heading {
  font-size: var(--fs-400);
  color: var(--clr-neutral-700);
}

.top-heading-wrapper .top-heading-primary {
  font-size: var(--fs-650);
  color: var(--clr-primary);
}

.top-heading-wrapper .top-heading-para {
  color: var(--clr-secondary);
}

.why-we-are-best .content-container {
  display: grid;
  gap: 1.2rem;
  text-align: center;
}
.why-we-are-best .content-container > :last-child {
  display: grid;
  gap: 0.75rem;
}

.why-we-are-best .inner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 80px;
}

.why-we-are-best .text-wrapper .heading {
  font-size: var(--fs-400);
  color: var(--clr-neutral-700);
  font-weight: var(--fw-bold);
}

.why-we-are-best .icon-container {
  display: flex;
  justify-content: center;
}

.why-we-are-best .icon-container img {
  max-width: 100px;
}

.why-we-are-best .man-image img {
  max-height: 340px;
}

.left-content-wrapper.spacer,
.right-content-wrapper.spacer {
  --gap: 3rem;
}

@media (min-width: 768px) {
  .why-we-are-best .inner-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }

  .why-we-are-best .content-container {
    text-align: left;
    min-width: 220px;
    max-width: 300px;
    min-height: 270px;
    background: linear-gradient(
      to right,
      var(--clr-accent-300) 50%,
      #f8f3f5 50%
    );
  }

  .why-we-are-best .icon-container img {
    max-width: 90px;
    max-height: 90px;
  }

  .why-we-are-best .man-image img {
    max-height: 640px;
  }
}
